In [12]:
# ANN

In [13]:
#!pip install tensorflow

In [14]:
import tensorflow as tf

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
dataset = pd.read_csv("C://Users//Shantanu Shrikhande//OneDrive//Desktop//Study Stuff//Dataset//Datasets//Churn_Modelling//Churn_Modelling.csv")

In [17]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
X=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [19]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [20]:
geography = pd.get_dummies(X['Geography'],drop_first=True)
Gender = pd.get_dummies(X['Gender'],drop_first=True)

In [21]:
X=X.drop(['Geography','Gender'], axis=1)

In [22]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64
9996,516,35,10,57369.61,1,1,1,101699.77
9997,709,36,7,0.00,1,0,1,42085.58
9998,772,42,3,75075.31,2,1,0,92888.52
9999,792,28,4,130142.79,1,1,0,38190.78

In [23]:
X=pd.concat([X,geography,Gender], axis=1)

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [26]:
X_train.shape

(8000, 11)

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout

In [28]:
classifier =  Sequential()

In [29]:
#Input layer
classifier.add(Dense(units=11,activation = 'relu'))
#hidden layer
classifier.add(Dense(units=7,activation = 'relu'))
classifier.add(Dense(units=6,activation = 'relu'))
#Output layer
classifier.add(Dense(units=1,activation = 'sigmoid'))

In [30]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [32]:
#model_history = classifier.fit(X_train,y_train,validation_split= 0.33,batch_size=10,epochs=1000)

In [40]:
import tensorflow as tf
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

TypeError: EarlyStopping.__init__() got an unexpected keyword argument 'start_from_epoch'

In [ ]:
model_history = classifier.fit(X_train,y_train,validation_split= 0.33,batch_size=10,epochs=1000,callbacks = early_stopping)

Epoch 1/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3160 - accuracy: 0.8670 - val_loss: 0.3649 - val_accuracy: 0.8561
Epoch 2/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3169 - accuracy: 0.8718 - val_loss: 0.3647 - val_accuracy: 0.8542
Epoch 3/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3162 - accuracy: 0.8684 - val_loss: 0.3640 - val_accuracy: 0.8535
Epoch 4/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3156 - accuracy: 0.8658 - val_loss: 0.3672 - val_accuracy: 0.8550
Epoch 5/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3155 - accuracy: 0.8656 - val_loss: 0.3669 - val_accuracy: 0.8550
Epoch 6/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3166 - accuracy: 0.8666 - val_loss: 0.3646 - val_accuracy: 0.8542
Epoch 7/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3143 - accuracy: 0.8705 - val_loss: 0.3659 - val_accuracy: 0.8538
Epoch 8/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3142 - accuracy: 0.8707 - val_loss: 0.3646 - val_accuracy: 0.8557
Epoch 9/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3143 - accuracy: 0.8668 - val_loss: 0.3696 - val_accuracy: 0.8542
Epoch 10/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3144 - accuracy: 0.8688 - val_loss: 0.3656 - val_accuracy: 0.8565
Epoch 11/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3141 - accuracy: 0.8688 - val_loss: 0.3669 - val_accuracy: 0.8569
Epoch 12/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3143 - accuracy: 0.8670 - val_loss: 0.3658 - val_accuracy: 0.8546
Epoch 13/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3136 - accuracy: 0.8679 - val_loss: 0.3659 - val_accuracy: 0.8569
Epoch 14/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3139 - accuracy: 0.8688 - val_loss: 0.3669 - val_accuracy: 0.8561
Epoch 15/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3134 - accuracy: 0.8671 - val_loss: 0.3693 - val_accuracy: 0.8554
Epoch 16/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3128 - accuracy: 0.8683 - val_loss: 0.3704 - val_accuracy: 0.8542
Epoch 17/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3137 - accuracy: 0.8683 - val_loss: 0.3659 - val_accuracy: 0.8569
Epoch 18/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3123 - accuracy: 0.8692 - val_loss: 0.3660 - val_accuracy: 0.8554
Epoch 19/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3126 - accuracy: 0.8683 - val_loss: 0.3670 - val_accuracy: 0.8550
Epoch 20/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3123 - accuracy: 0.8668 - val_loss: 0.3663 - val_accuracy: 0.8535
Epoch 21/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3120 - accuracy: 0.8683 - val_loss: 0.3662 - val_accuracy: 0.8516
Epoch 22/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3119 - accuracy: 0.8684 - val_loss: 0.3720 - val_accuracy: 0.8550
Epoch 23/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3115 - accuracy: 0.8671 - val_loss: 0.3675 - val_accuracy: 0.8576
Epoch 23: early stopping

In [ ]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [ ]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred>=0.5)

63/63 [==============================] - 0s 2ms/step

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1490,  105],
       [ 190,  215]])

In [ ]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)

In [ ]:
score

0.8525

In [ ]:
classifier.get_weights()

[array([[ 0.40336147, -0.00665523,  0.04248885,  0.09008642, -0.4680607 ,
          0.12632146, -0.06418531,  0.07160509,  0.1536439 , -0.02770229,
         -0.07967341],
        [-0.97423893, -0.3077613 ,  0.42016852, -0.23533832,  0.04280537,
          0.22858149, -0.47906005,  1.1273141 , -0.25751752,  0.43801922,
         -0.78945845],
        [-0.18080556, -0.07980677, -0.34957698,  0.04772627, -0.41118908,
          0.09321441,  0.69217086,  0.07599919, -0.12476779, -0.04300245,
         -0.0425129 ],
        [-0.28194526,  1.4486517 , -0.36935   ,  0.00385092, -0.25182837,
         -0.76298743, -0.6709283 , -0.48512828, -0.13665412,  0.34558633,
          0.10639351],
        [-0.12955105, -0.30284196, -0.8375782 ,  1.4274765 , -0.45640793,
         -1.0029078 , -0.3394404 ,  0.6151354 ,  0.29625   ,  1.0240868 ,
          0.36689937],
        [-0.09832643,  0.01472949,  0.20067273, -0.04191706,  0.19589998,
          0.10550876, -0.6485143 ,  0.34697834,  0.76173085, -0.07317924,
          0.21269727],
        [-0.3465125 , -0.20211501,  0.04107157,  0.07949413, -0.35084066,
         -0.22257882,  0.32581174,  0.62082815,  0.1928398 , -0.6879463 ,
         -0.36551717],
        [ 0.24706714,  0.05889056,  0.9538688 , -0.04184129, -0.88116914,
          0.09392098, -0.40674388,  0.35345393,  0.3674304 , -0.19339961,
         -0.20214604],
        [-0.09953658,  0.4159654 , -0.4825252 ,  0.25209236, -0.26458538,
          0.5120457 , -0.21090242,  0.2952493 ,  0.03906168, -0.10523419,
          0.28739232],
        [ 0.07467542, -0.5978989 ,  0.22493786,  0.17016917, -0.02985879,
         -0.00399551, -0.03150261,  0.40361288, -0.3472432 ,  0.38284284,
          0.05620553],
        [ 0.14047973, -0.11148462, -0.08428818, -0.01385115, -0.20953074,
          0.0881722 ,  0.84435666,  0.30383095,  0.24232355, -0.07909071,
         -0.16884017]], dtype=float32),
 array([ 0.88499266, -0.5507804 , -0.27560723,  0.18203844,  0.29013452,
         0.01419506,  0.16981287, -0.2268874 ,  0.26755607,  0.0812446 ,
         0.97850627], dtype=float32),
 array([[-0.15687071,  0.17924362,  0.1838789 ,  0.73992103, -0.12066934,
          0.6596226 , -0.37903133],
        [-0.52112234,  0.22270238, -1.0348955 , -0.2451055 ,  0.60909826,
          0.3939914 ,  0.27531287],
        [ 0.5654332 ,  0.03869169,  0.4072338 ,  0.31123495,  0.14302103,
          0.41574854,  0.6082729 ],
        [ 0.8362784 ,  0.21570507, -0.16003785,  0.04094514,  0.15911706,
         -0.45193857, -0.50615865],
        [-0.5674025 , -0.05596218,  0.05983758,  0.549065  ,  0.6145532 ,
          0.02886396,  0.4389923 ],
        [-0.09708931, -0.18867083,  0.6501399 , -0.2722937 , -0.64512193,
          0.32873583,  0.8314097 ],
        [-0.17900968,  0.7159003 , -0.10469286,  0.437274  ,  0.5570246 ,
          0.38735676,  0.3976719 ],
        [ 0.5909785 , -0.7963824 ,  0.31351027,  0.49470064,  0.27599087,
         -0.3925    , -0.31090185],
        [ 0.30391458,  0.5339206 , -0.3066394 ,  0.1186349 ,  0.15527707,
         -0.50199074, -0.10740464],
        [ 0.53368855, -0.1164697 , -0.0010511 , -0.42947057, -0.33155054,
         -0.29628125,  0.48564336],
        [-0.05730331, -0.21782409,  0.37989646, -0.28393108, -0.05494034,
          0.1635639 , -0.68369764]], dtype=float32),
 array([ 0.2968336 ,  0.73223287,  0.29735723,  0.03884383,  0.39847803,
        -0.36724144,  0.14791448], dtype=float32),
 array([[-0.10197352,  0.19528519,  0.51218575,  0.5822799 , -0.38998514,
          0.79217416],
        [-0.2557022 ,  0.8633096 ,  0.71078473, -0.03964508,  0.12618935,
         -0.19201642],
        [ 0.6436458 ,  0.5286763 ,  0.01250659, -0.4867837 , -0.5823998 ,
         -0.41505867],
        [-0.9153795 , -0.21113066,  0.4317314 , -0.59784824, -0.4894641 ,
         -0.87191576],
        [-0.36371392,  0.28949395,  0.39524052, -0.0350702 , -0.25268924,
         -0.6452037 ],
        [-0.28414086,  0.19368254, -0.7680554 ,  0.03322155, -0.20196122,
         -2.1060581 ],
        [-0.14863648, -0.5050901 , -0.30541325,  1.3239952 ,  0.00597036,
         -0.0229291 ]], dtype=float32),
 array([ 0.63497937,  0.35172155,  0.5924213 ,  0.00496397,  0.        ,
        -0.15898643], dtype=float32),
 array([[-1.6543441 ],
        [-0.33015382],
        [-0.8092407 ],
        [ 1.0541784 ],
        [-0.5103011 ],
        [ 1.4833795 ]], dtype=float32),
 array([-0.32498488], dtype=float32)]